<div class="a-select">
    <label for="{{ id }}" class="a-select__label {{#if required}}a-select__label--required{{/if}}">
        {{ label }}
    </label>
    <div class="a-select__background">
        <select id="{{ id }}"
                class="a-select__field {{ modifiers_classes }}"
                name="{{ name }}"
            {{ required }}>
                <option value=""></option>
            {{#each options}}
                <option value="{{this.value}}"{{#if selected}} selected{{/if}}>{{this.label}}</option>
            {{/each}}
        </select>
    </div>
</div>
