<div class="a-input{{#if wrapper_classes}} {{ wrapper_classes }}{{/if}}">
	<label for="{{ id }}" class="a-input__label {{#if required}}a-input__label--required{{/if}}">
		{{ label }}
	</label>
	{{#if text}}
		<input id="{{ id }}"
					 class="a-input__field {{ modifiers_classes }}{{#if required}} is-required{{/if}}"
					 type="{{ type }}"
					 {{#if pattern}}pattern="{{ pattern }}"{{/if}}
					 name="{{ name }}"
					 value="{{ value }}"
			{{ required }}>
	{{/if}}
	{{#if textarea}}
		<textarea id="{{ id }}"
							class="a-input__field {{ modifiers_classes }}"
							name="{{ name }}"
			{{ required }}>{{ value }}</textarea>
	{{/if}}
	{{#if helptext}}
		<div class="a-input__helptext">{{ helptext }}</div>
	{{/if}}
</div>
