<article class="a-person-slide">
    <figure class="a-person-slide__figure">
        <img class="a-person-slide__image" src="{{image}}" alt="{{alt}}">
        <figcaption class="a-person-slide__caption">
            <p class="a-person-slide__quote">{{quote}}</p>
            <p class="a-person-slide__meta">
                <span class="a-person-slide__author">{{author}}</span>{{#if job}}
                , <span class="a-person-slide__job">{{job}}</span>{{/if}}
            </p>
        </figcaption>
    </figure>
</article>