<div class="a-submenu  {{ modifiers_classes }}">
    {{#if featured}}
        {{> @a-cat-title cat-title}}
        <img class="a-submenu--featured__image" src="{{ img.src }}" alt="{{ img.alt }}">
        <h3 class="a-submenu--featured__title">{{ title }}</h3>
        <p class="a-submenu--featured__text">{{ text }}</p>
        {{> @a-button button}}
    {{else}}
        <a class="a-submenu__title" href="{{ url }}">{{ title }}</a>
        <ul class="a-submenu__list">
            {{#each items}}
                <li class="a-submenu__item">
                    <a class="a-submenu__link" href="{{ this.url }}">{{ this.label }}</a>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</div>