<div class="a-submenu {{ modifiers_classes }}">
	{{#if featured}}
		<div class="a-submenu--featured__cat-title">
			{{> @a-cat-title cat-title}}
		</div>
		<div class="a-submenu--featured__image">
			{{> @a-image link-image }}
		</div>
		<a class="a-submenu--featured__link" href="{{ this.url }}">
			<h3 class="a-submenu--featured__link__title">{{ title }}</h3>
		</a>
		{{#if text}}
			<p class="a-submenu--featured__text">{{ text }}</p>
		{{/if}}
		{{#if button}}
			{{> @a-button button}}
		{{/if}}
	{{else}}
		<a class="a-submenu__title" href="{{ url }}">{{ title }}</a>
		<ul class="a-submenu__list">
			{{#each items}}
				<li class="a-submenu__item">
					<a class="a-submenu__link" href="{{ this.url }}">{{ this.label }}</a>
				</li>
			{{/each}}
		</ul>
	{{/if}}
</div>
