{#
Parameters:
- id: string (optional, `{{ default_id_prefix }}-{{ name }}-{{ uniqueid }}` is used if id is not provided)
- classes: string (optional, appended)
- name: string must be unique in form
- label: string
- value: string (radio only)
- required: bool (optional)
- type: string. accepted values 'radio' and 'checkbox'
- checked: bool (optional)
- modifiers_classes: string (optional)
- default_id_prefix: string
#}

{% if not id %}
	{% set id = (default_id_prefix ~ "-" ~ name)|uniqueid %}
{% endif %}

<div class="a-checkoption{% if classes %} {{ classes }}{% endif %}">
	{% if 'radio' == type %}
		<input type="radio"
					 name="{{ name }}"
					 id="{{ id }}"
					 value="{{ value|esc_form_value }}"
					 {% if required %}required{% endif %}
			{% if checked %}checked="checked"{% endif %}
					 class="a-checkoption__field">
	{% else %}
		<input type="hidden" name="{{ name }}" value="0">{# make sure unchecked elements still show up in post data #}
		<input id="{{ id }}"
				 class="a-checkoption__field"
				 type="checkbox"
				 name="{{ name }}"
				 {% if required %}required{% endif %}
				 {% if checked %}checked="checked"{% endif %}>
	{% endif %}
	<label for="{{ id }}"
				 class="a-checkoption__label{% if 'radio' == type %} a-checkoption--option{% endif %} {{ modifiers_classes }}">
		{{ label|wptexturize }}
	</label>
</div>
