{#
Parameters:
- id: string (optional, `{{ default_id_prefix }}-{{ uniqueid }}-{{ name }}` is used if id is not provided)
- classes: string (optional, appended)
- name: string must be unique in form
- label: string
- value: string
- pattern: string, html5 pattern (optional)
- wrapper_classes: string
- helptext: string (optional)
- required: bool
- modifiers_classes: string (optional)
- type: string. accepted values 'textarea' and the html5 input types
- default_id_prefix: string
#}

{% if not id %}
	{% set id = default_id_prefix|uniqueid ~ "-" ~ name %}
{% endif %}

<div class="a-input{% if wrapper_classes %} {{ wrapper_classes }}{% endif %}{% if classes %} {{ classes }}{% endif %}">
	<label for="{{ id }}" class="a-input__label {% if required %}a-input__label--required{% endif %}">
		{{ label|wptexturize }}
	</label>
	{% if 'textarea' == type %}
		<textarea id="{{ id }}"
							class="a-input__field {{ modifiers_classes }}"
							name="{{ name }}"
							{% if required %}required="required"{% endif %}>{{ value }}</textarea>
	{% else %}
		<input id="{{ id }}"
					 class="a-input__field {{ modifiers_classes }}{% if required %} is-required{% endif %}"
					 type="{{ type }}"
					 name="{{ name }}"
					 value="{{ value }}"
					 {% if pattern %}pattern="{{ pattern }}"{% endif %}
			{% if required %}required="required"{% endif %}>
	{% endif %}
	{% if helptext %}
		<div class="a-input__helptext">{{ helptext|wptexturize }}</div>
	{% endif %}
</div>
