{#
Parameters:
- id: string (optional, name is used if id is not provided)
- name: string must be unique in form
- label: string
- helptext: string (optional)
- required: bool
- modifiers_classes: string (optional)
- options: array
#}
<div class="a-select {{ modifiers_classes }}">
	<label for="{{ id|default(name) }}" class="a-select__label {% if required %}a-select__label--required{% endif %}">
		{{ label|wptexturize }}
	</label>
	<div class="a-select__background">
		<select id="{{ id|default(name) }}"
						class="a-select__field"
						name="{{ name }}"
						{% if required %}required="required"{% endif %}>
			<option value=""> </option>
			{% for option in options %}
				{% set option = option|trim %}
				<option value="{{ option|esc_form_value }}">{{ option }}</option>
			{% endfor %}
		</select>
	</div>
	{% if helptext %}
		<div class="a-select__helptext">{{ helptext|wptexturize }}</div>
	{% endif %}
</div>
