{#
Parameters:
- id: string (optional, `{{ default_id_prefix }}-{{ uniqueid }}-{{ name }}` is used if id is not provided)
- classes: string (optional, appended)
- name: string must be unique in form
- label: string
- helptext: string (optional)
- required: bool
- modifiers_classes: string (optional)
- options: array
- keyed_options: array      #used for map block, use option OR keyed_options but not both
- default_id_prefix: string
#}

{% if not id %}
	{% set id = default_id_prefix|uniqueid ~ "-" ~ name %}
{% endif %}

<div class="a-select {{ modifiers_classes }}{% if classes %} {{ classes }}{% endif %}">
	<label for="{{ id }}" class="a-select__label {% if required %}a-select__label--required{% endif %}">
		{{ label|wptexturize }}
	</label>
	<div class="a-select__background">
		<select id="{{ id }}"
						class="a-select__field"
						name="{{ name }}"
						{% if required %}required="required"{% endif %}>
			<option value=""></option>
			{% for option in options %}
				{% set option = option|trim %}
				<option value="{{ option|esc_form_value }}">{{ option }}</option>
			{% endfor %}
			{% for option in keyed_options %}
				<option value="{{ option.value|trim|esc_form_value }}">{{ option.label }}</option>
			{% endfor %}
		</select>
	</div>
	{% if helptext %}
		<div class="a-select__helptext">{{ helptext|wptexturize }}</div>
	{% endif %}
</div>
