<div class="page page--home">
    {{render '@o-header'}}
    <main class="page__main">
        {{render '@o-campaign'}}
        <div class="page__grid-wrapper">
            <div class="page__grid">
                {{render '@o-vote--3-proposals'}}
                {{render '@o-front-article--single'}}
                {{render '@o-front-article--oton' }}
                {{render '@o-front-article' }}
            </div>
        </div>
        {{render '@o-positions' }}
        {{render '@o-front-events' }}
    </main>
</div>