<div class="front">
	{{render '@o-header'}}
	<main class="front__main">
		<section class="front__campaign">
			{{render '@o-campaign'}}
		</section>
		<div class="front__grid-wrapper">
			<section class="front__grid">
				<div class="front__article">
					{{render '@o-vote--3-proposals'}}
				</div>
				<div class="front__article">
					{{render '@o-front-article--single'}}
				</div>
				<div class="front__article">
					{{render '@o-front-article--oton' }}
				</div>
				<div class="front__article">
					{{render '@o-front-article' }}
				</div>
				<div class="front__article front__article--2-col">
					{{render '@o-positions' }}
				</div>
				<div class="front__article front__article--2-col">
					{{render '@o-front-events' }}
				</div>
			</section>
			<section class="front__article front__article--full-width">
				{{render '@o-people-grid'}}
			</section>
			<section class="front__grid">
				<div class="front__article front__article--2-col">
					{{render '@o-engagement-map'}}
				</div>
			</section>
		</div>
	</main>
	<div class="page__footer page__footer--no-padding">
		{{render '@o-footer'}}
	</div>
</div>
