<div class="page page--home">
    {{render '@o-header'}}
    <main class="page__main">
        {{render '@o-campaign'}}
        <div class="page__grid-wrapper">
            <div class="page__grid">
                <div class="page__article">
                    {{render '@o-vote--3-proposals'}}
                </div>
                <div class="page__article">
                    {{render '@o-front-article--single'}}
                </div>
                <div class="page__article">
                    {{render '@o-front-article--oton' }}
                </div>
                <div class="page__article">
                    {{render '@o-front-article' }}
                </div>
                <div class="page__article--2-col">
                    {{render '@o-positions' }}
                </div>
                <div class="page__article--2-col">
                    {{render '@o-front-events' }}
                </div>
            </div>
        </div>
    </main>
</div>