<div class="page page--home">
    {{render '@o-header'}}
    <main class="page__main">
        {{render '@o-campaign'}}
        <div class="page__grid">
            <div class="page__article">
                {{render '@o-vote'}}
            </div>
            <div class="page__article">
                {{render '@o-front-article--single'}}
            </div>
            <div class="page__article">
                {{render '@o-front-article--oton' }}
            </div>
            <div class="page__article">
                {{render '@o-front-article' }}
            </div>
        </div>
    </main>
</div>