<div class="m-menu {{ modifiers_classes }}">
	<a class="m-menu__logo" href="/" title="{{ home }}">
		{{> @a-logo logo}}
	</a>
	<nav class="m-menu__nav">
		<div class="m-menu__hamburger">
			{{ render '@a-hamburger' }}
		</div>
		<ul class="m-menu__nav-list" role="menubar" id="menu" aria-label="{{ aria-label-main-navigation }}">
			{{#each nav-items}}
				<li class="m-menu__nav-item" role="none">
					<a class="m-menu__nav-link m-menu__nav-link--js-hook{{#if @first }} m-menu__nav-link--active{{/if}}"
						 href="#" role="menuitem" {{#if @first }}tabindex="0" accesskey="1"{{/if}}
						 aria-haspopup="menu" aria-expanded="false">{{ this.title }}</a>
					{{#if section-items}}
						{{> @m-menu--submenu}}
					{{/if}}
				</li>
			{{/each}}
			<li class="m-menu__nav-item" role="none">
				{{> @a-search search='Suche' search_submit='Suchen' modifiers=search_modifiers}}
			</li>
		</ul>
	</nav>
	<div class="m-menu__right">
		<div class="m-menu__cta">
			{{#each cta-items}}
				<div class="m-menu__nav-item">
					{{> @a-button--outlined label=this.title class='a-button--secondary a-button--outline m-menu__nav-link--js-hook'}}
					{{#if section-items}}
						{{> @m-menu--submenu submenu_class='m-menu__submenu--cta'}}
					{{/if}}
				</div>
			{{/each}}
		</div>
		<div class="m-menu__language-nav">
			<ul class="m-menu__language-nav-list" role="menubar" aria-label="{{ aria-label-language-navigation }}">
				{{#each languages}}
					<li class="m-menu__language-nav-item">
						<a class="m-menu__language-nav-link {{#if @first }}m-menu__language-nav-link--active{{/if}}"
							 href="#">{{ . }}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
