<header class="m-menu">
    <div class="m-menu__logo">
        {{> @a-logo logo}}
    </div>
    <nav class="m-menu__nav">
        <ul class="m-menu__nav-list">
            {{#each nav-items}}
                <li class="m-menu__nav-item">
                    <a class="m-menu__nav-link {{#if @first }}m-menu__nav-link--active{{/if}}" href="#">{{ this.title }}</a>
                    {{#if section-items}}
                        <ul class="m-menu__submenu">
                            {{#each section-items}}
                                <li class="m-menu__submenu__section">
                                    <a class="m-menu__submenu__section-title" href="#">{{ this.title }}</a>
                                    <ul class="m-menu__submenu__section-list">
                                        {{#each this.sub-items}}
                                            <li class="m-menu__submenu__section-item">
                                                <a class="m-menu__submenu__section-link" href="#">{{ . }}</a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </li>
            {{/each}}
            <li class="m-menu__nav-item">
                <a class="m-menu__nav-link href=" #">
                <svg class="m-menu__search" role="search" alt="{{ search }}">
                    <use xlink:href="#glass"/>
                </svg>
                </a>
            </li>
        </ul>
    </nav>
    <div class="m-menu__right">
        <div class="m-menu__cta">{{> @a-button--outlined button}}</div>
        <div class="m-menu__language-nav">
            <ul class="m-menu__language-nav-list">
                {{#each languages}}
                    <li class="m-menu__language-nav-item">
                        <a class="m-menu__language-nav-link {{#if @first }}m-menu__language-nav-link--active{{/if}}"
                           href="#">{{ . }}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</header>