<div class="o-people-slider">
    <div class="o-people-slider__wrapper">
        <div class="o-people-slider__cat-title">
            {{> @a-cat-title cat-title}}
        </div>
        <h3 class="o-people-slider__title">{{title}}</h3>
        <div class="o-people-slider__library-container swiper-container">
            <div class="o-people-slider__slider swiper-wrapper">
                {{#each slides}}
                    <div class="o-people-slider__slide swiper-slide">
                        {{> @a-person-slide this}}
                    </div>
                {{/each}}
            </div>
        </div>
        <button class="o-people-slider__slide-button o-people-slider__slide-button--left"
                aria-label="{{aria-label-slide-left}}">
            <svg role="img">
                <title>{{ 'Slide to the left' }}</title>
                <use xlink:href="#slide"></use>
            </svg>
        </button>
        <button class="o-people-slider__slide-button o-people-slider__slide-button--right"
                aria-controls="o-people-slider__slider" aria-label="{{aria-label-slide-right}}">
            <svg role="img">
                <title>{{'Slide to the right'}}</title>
                <use xlink:href="#slide"></use>
            </svg>
        </button>
    </div>
</div>