{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{ body_class }} lang-{{ fn('get_locale') }}">
<div class="page {{ page_modifiers|join }}">
	{% include 'organisms/o-header.twig' %}

	<main class="page__main">
		{% block content %}
			{{ __('Sorry, no content', constant('THEME_DOMAIN'))|wptexturize }}
		{% endblock %}
	</main>

	{% block footer %}
	<div class="page__footer">
		<footer id="footer">
			{% include 'footer.twig' %}
		</footer>
	</div>
	{{ function('wp_footer') }}
	{% endblock %}
	</div>
</body>
</html>
