{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% include 'organisms/o-header.twig' %}

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			<script>
				function supt_pfl(){var script=document.createElement("script");script.src="{{ function('get_stylesheet_directory_uri') }}/static/js/app{{ WP_DEBUG ? '' : '.min' }}.js";document.head.appendChild(script)};
			</script>
			{% set polyfills = "?features=HTMLPictureElement,CustomEvent,Element.prototype.closest,Object.assign,NodeList.prototype.forEach,Promise,matchMedia" %}
			<script src="//cdn.polyfill.io/v2/polyfill{{ WP_DEBUG ? '' : '.min' }}.js{{ polyfills }}" onload="supt_pfl()" async defer></script>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
