<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
	<meta charset="{{ site.charset }}"/>
	<title>
		{% if wp_title %}
			{{ wp_title }}
		{% else %}
			{{ site.name }}
		{% endif %}
	</title>
	<script type="text/javascript">
		var html = document.getElementsByTagName( 'html' )[ 0 ];
		html.className = html.className.replace( /(?:^|\s)no-js(?!\S)/g, 'js' );
	</script>
	<meta name="description"
				content="{{ post._yoast_wpseo_metadesc ?: post.description_short|striptags|replace({"\n": " ", "\r": " "}) ?: post.content_short|striptags|replace({"\n": " ", "\r": " "}) }}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="pingback" href="{{ site.pingback_url }}"/>
	<link rel="preload" href="{{ site.theme.link }}/static/fonts/open-sans/open-sans-v15-latin-regular.woff2" as="font"
				type="font/woff2" crossorigin>
	<link rel="preload" href="{{ site.theme.link }}/static/fonts/open-sans/open-sans-v15-latin-600.woff2" as="font"
				type="font/woff2" crossorigin>
	<link rel="preload" href="{{ site.theme.link }}/static/fonts/open-sans/open-sans-v15-latin-800.woff2" as="font"
				type="font/woff2" crossorigin>
	{% if fn('is_front_page') %}
		{% if no_sanuk %}
			<link rel="preload" href="{{ site.theme.link }}/static/fonts/passion-one-bold/PassionOne-Bold.woff2" as="font"
						type="font/woff2" crossorigin>
		{% else %}
			<link rel="preload" href="{{ site.theme.link }}/../../sanuk/font.woff2" as="font"
						type="font/woff2" crossorigin>
		{% endif %}
	{% endif %}
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->

	{{ function('wp_head') }}
