<div class="a-checkbox">
    <input type="hidden" name="{{ name }}" value="0">
    <input id="{{ id }}"
           class="a-checkbox__field"
           type="checkbox"
           name="{{ name }}"
    {{ checked }}>
    <label for="{{ id }}" class="a-checkbox__label {{ modifiers_classes }}">
        {{ label }}
    </label>
</div>