{% if link %}
	<a href="{{ link }}"
			 class="a-button {% if invert_cta_colors %}has-inverted-cta {% endif %}{{ modifiers|join(' ') }}{% if class %} {{ class }}{% endif %}"{% if target %} target="{{ target }}" rel="noopener"{% else %} {{ link_props(link) }} {% endif %}{% if js_hook %} data-{{ js_hook }}{% endif %}>{{ label|wptexturize }}</a>
{% else %}
	<button type="{% if type %}{{ type }}{% else %}button{% endif %}"
				class="a-button {% if invert_cta_colors %}has-inverted-cta {% endif %}{{ modifiers|join(' ') }}{% if class %} {{ class }}{% endif %}"{% if js_hook %} data-{{ js_hook }}{% endif %}>{{ label|wptexturize }}</button>
{% endif %}
