{% if 'email' == acf_fc_layout %}
	<a href="{{email|email|hexencode}}" class="a-contact a-contact--email">{{email|hexencode}}</a>
{% endif %}

{% if 'phone' == acf_fc_layout %}
	<a href="{{phone|phone}}" class="a-contact a-contact--phone">{{phone}}</a>
{% endif %}

{% if 'website' == acf_fc_layout %}
	<a href="{{website}}" target="_blank" class="a-contact a-contact--website">{{website|nice_link}}</a>
{% endif %}
