{% set event = TribeEvent(post) %}

<a class="a-event-link" href="{{ event.link() }}">
	<div class="a-event-link__image">
		{% include 'atoms/a-image.twig' with {
			'image': event.image,
			'size': 'medium',
			'no_caption': 1,
			'no_copy': 1
		} only %}
	</div>
	<h3 class="a-event-link__title">{{ event.title|wptexturize }}</h3>
	<div class="a-event-link__meta">
		<time class="a-event-link__datetime"
					datetime="{{ event.timestamp }}">{{ event.time_string|l10n_date }}</time>
		{% if event.venue %}
			<div class="a-event-link__place">{{ event.venue_string|wptexturize }}</div>
		{% endif %}
	</div>
</a>
