{# accepted parameters:
	image: id or TimberImage
	size: optional. string. passible values 'full-width', 'regular'.
		if a size is given, the outer container must define the image boundaries.
	link_url: optional. string.
	target: optional. string.
	no_caption: optional. boolean.
	no_copy: optional. boolean.
	not_lazy: optional. boolean.
#}
{% set img = TimberImage(image) %}
{% if not size %}
	{% set size = 'regular' %}
	{% set no_crop = 1 %}
{% endif %}
{% if img.focal_point %}
	{% set focal_point = img.focal_point %}
{% else %}
	{% set focal_point = middle_center %}
{% endif %}
<figure class="a-image{% if not no_crop %} a-image--cover{% endif %}">
	{% if link_url %}<a class="a-image__link" href="{{ link_url }}"
											tabindex="-1"{% if target %} target="{{ taget }}" rel="noopener"{% else %} {{ link_props(link_url) }} {% endif %}>{% endif %}

		{% if not not_lazy %}<noscript>{% endif %}
			<img {{ image|get_timber_image_responsive(size) }}
				class="a-image__image{% if not no_crop %} a-image__image--fp a-image__image--fp-{{ focal_point }}{% endif %}">
		{% if not not_lazy %}</noscript>
			<div class="a-image__lazy-wrapper">
				<img src="{{ img.src|resize(20) }}"
						{{ image|get_timber_image_responsive(size)|lazy }}
					 	class="a-image__image a-image__image--lazy{% if no_crop %} a-image__image--no-crop{% else %} a-image__image--fp a-image__image--fp-{{ focal_point }}{% endif %}">
			</div>
		{% endif %}
	{% if link_url %}</a>{% endif %}
	{% if (not ( no_caption and no_copy )) and (img.caption or img.copyright) %}
		<figcaption>
			{% if not no_caption and img.caption %}<span class="a-image__caption">{{ img.caption|wptexturize }}</span>{% endif %}
			{% if not no_copy and img.copyright %}
				<small class="a-image__copy">&copy; {{ img.copyright }}</small>{% endif %}
		</figcaption>
	{% endif %}
</figure>
