<figure class="a-image">
    {% set img = TimberImage(image) %}
    {% set copy = img.get_field('copyright') %}
    {% if link_url %}<a class="a-image__link" href="{{link_url}}" tabindex="-1"{% if target %} target="{{ taget }}"{% endif %}>{% endif %}
        <img {{ image|get_timber_image_responsive('full-grid') }} class="a-image__image">
        {% if link_url %}</a>{% endif %}
    <figcaption>
        {% if img.caption %}<span class="a-image__caption">{{img.caption}}</span>{% endif %}
        {% if copy %}<small class="a-image__copy">&copy; {{copy}}</small>{% endif %}
    </figcaption>
</figure>
