{# accepted parameters:
	image: id or TimberImage
	size: optional. string. passible values 'full-width', 'regular'.
		if a size is given, the outer container must define the image boundaries.
	link_url: optional. string.
	target: optional. string.
	no_caption: optional. boolean.
	no_copy: optional. boolean.
	not_lazy: optional. boolean.
	small_copy: optional. boolen.
#}
{% if image %}
	{% if not link_url %}
		{% set link_url = '' %}
	{% endif %}

	{% if not size %}
		{% set size = 'thumbnail' %}
	{% endif %}

	{% if not no_copy %}
		{% set no_copy = 0 %}
	{% endif %}

	{% set img = get_image(image) %}

	{% if img %}
		<figure class="a-image{% if not no_crop %} a-image--cover{% endif %}">
			{% if link_url %}<a class="a-image__link" href="{{ link_url }}"
											tabindex="-1"{% if target %} target="{{ target }}" rel="noopener"{% else %} {{ link_props(link_url) }} {% endif %}>{% endif %}

				{% if not not_lazy %}
				<noscript>{% endif %}
					<img srcset="{{ img.srcset('custom-6') }} 480w,
								{{ img.srcset('custom-6-2x') }} 960w,
								{{ img.srcset('custom-12') }} 768w,
								{{ img.srcset('custom-12-2x') }} 1536w,
								{{ img.srcset('custom-full') }} 1400w,
								{{ img.srcset('custom-full-2x') }} 2800w"
						sizes="100vw"
						src="{{ img.src('custom-6') }}"
						class="a-image__image{% if not no_crop %} a-image__image--fp a-image__image--fp-{{ focal_point }}{% endif %}"
						alt="{{ img.alt }}"
					>
					{% if not not_lazy %}</noscript>
				<div class="a-image__lazy-wrapper">
					<img src="{{ img.src|resize(20) }}"
						srcset="{{ img.srcset('custom-6') }} 480w,
								{{ img.srcset('custom-6-2x') }} 960w,
								{{ img.srcset('custom-12') }} 768w,
								{{ img.srcset('custom-12-2x') }} 1536w,
								{{ img.srcset('custom-full') }} 1400w,
								{{ img.srcset('custom-full-2x') }} 2800w"
						sizes="100vw"
						loading="lazy"
						class="a-image__image a-image__image--lazy{% if no_crop %} a-image__image--no-crop{% else %} a-image__image--fp a-image__image--fp-{{ focal_point }}{% endif %}"
						alt="{{ img.alt }}"
					>
				</div>
				{% endif %}
				{% if link_url %}</a>{% endif %}
				{% if (not ( no_caption and no_copy )) and (img.caption or img.copyright) %}
					<figcaption>
						{% if not no_caption and img.caption %}<span class="a-image__caption">{{ img.caption|wptexturize }}</span>{% endif %}
						{% if not no_copy and img.copyright %}
							<small class="a-image__copy{% if not no_caption and img.caption %} a-image__copy--caption{% endif %} a-image__copy--small{% if small_copy %}{% endif %}">&copy; {{ img.copyright|wptexturize|license }}</small>
						{% endif %}
					</figcaption>
				{% endif %}
			</figure>
		{% endif %}
	{% endif %}
