<a {% if link %}href="{{ link }}"{% endif %} class="a-link-button {{ modifiers|join(' ') }}"{% if target %} target="{{ target }}"{% endif %}{% if js_hook %} data-{{ js_hook }}{% endif %}>
    <span class="a-link-button__label">{{ label }}</span>
</a>
