{% if acf_fc_layout == 'links' %}
	{% set target = link.target %}
	{% set title = link.title %}
	{% set url = link.url %}
{% endif %}

{% if acf_fc_layout == 'post_objects' or type == 'autolist' %}
	{% set title = post_object.title %}
	{% set url = post_object.link %}
	{% set categories = post_object.categories() %}
	{% set date = 0 %}
	{% for category in categories if category.has_date %}
		{% set date = post_object.post_date %}
	{% endfor %}
{% endif %}

{% if type == 'autolist' and with_excerpt %}
	{% set excerpt = post_object.excerpt() %}
{% endif %}

{% if date %}
	{% set date_format = _x('F jS, Y', 'Date format. See http://php.net/manual/de/function.date.php', constant('THEME_DOMAIN')) %}
	{% set date = date|date(date_format) %}
	{% set timestamp = date|date('Y-m-d H:i') %}
{% endif %}

{% if with_excerpt %}
<article class="a-post-link {{ modifiers }}">
	{% else %}
	<a class="a-post-link a-post-link--link" href="{{ url }}"{% if target %} target="{{ target }}" rel="noopener"{% else %} {{ link_props(url) }}{% endif %}>
		{% endif %}
        {% if with_excerpt %}<a href="{{ url }}" class="a-post-link__title-link">{% endif %}
			<h3 class="a-post-link__title">{{ title|wptexturize }}</h3>
            {% if with_excerpt %}</a>{% endif %}
		{% if with_excerpt %}
			<header class="a-post-link__meta a-post-link__meta--header">
				{% if date %}
					<time class="a-post-link__meta-item" datetime="{{ timestamp }}">{{ date|l10n_date }}</time>
				{% endif %}
                {% if categories %}
					<div class="a-post-link__meta-item">{{ categories|join(', ') }}</div>
                {% endif %}
			</header>
		{% endif %}
		{% if with_excerpt %}
			<p class="a-post-link__excerpt">{{ excerpt|wptexturize }}</p>
			{% include 'atoms/a-link-button.twig' with {
				'link': url,
				'label': __('Read more', constant('THEME_DOMAIN'))
			} only %}
		{% else %}
			{% if acf_fc_layout == 'post_objects' or type == 'autolist' %}
				{% if date or categories %}
					<footer class="a-post-link__meta a-post-link__meta--footer">
						{% if date %}
							<time class="a-post-link__meta-item" datetime="{{ timestamp }}">{{ date|l10n_date }}</time>
						{% endif %}
						{% if categories %}
							<div class="a-post-link__meta-item">{{ categories|join(', ') }}</div>
						{% endif %}
					</footer>
				{% endif %}
			{% endif %}
		{% endif %}
		{% if with_excerpt %}
</article>
{% else %}
	</a>
{% endif %}

