<div class="a-simple-dialog {{ modifiers|join(' ') }}" {% if id %}id="a-simple-dialog--{{ id }}"{% endif %}>
	<div class="a-simple-dialog__main">
		{{ content|wptexturize }}
	</div>
	<button class="a-simple-dialog__close" aria-label="{{ __('Close dialog', constant('THEME_DOMAIN')) }}">
		<svg role="img">
			<title>{{ __('Close dialog', constant('THEME_DOMAIN')) }}</title>
			<use xlink:href="#close"></use>
		</svg>
	</button>
</div>
