<div class="a-submenu{% if item.featured_menu_item %} a-submenu--featured{% endif %}">
	{% if item.featured_menu_item %}
		{% set item_meta = item.meta('group') %}
		<div class="a-submenu--featured__cat-title">
			{% include 'atoms/a-cat-title.twig' with item_meta.block_title only %}
		</div>
		<div class="a-submenu--featured__image">
			{% include 'atoms/a-image.twig' with {
				'link_url': item.link,
				'image': item_meta.image,
				'size': 'regular',
				'no_caption': 1,
				'not_lazy': 1,
			} only %}
		</div>
		<a class="a-submenu--featured__link" href="{{ item.link }}" {{ link_props(item.link) }}>
			<h3 class="a-submenu--featured__link__title">{{ item.title|wptexturize }}</h3>
		</a>
		{% if item_meta.teaser %}
			<p class="a-submenu--featured__text">{{ item_meta.teaser|wptexturize }}</p>
		{% endif %}
		{% if item_meta.button_text %}
			{% include 'atoms/a-button.twig' with {'link': item.link, 'label': item_meta.button_text} only %}
		{% endif %}
	{% else %}
		<a class="a-submenu__title {% if item.current or item.current_item_ancestor %}a-submenu__title--active{% endif %}"
			 href="{{ item.link }}" {{ link_props(item.link) }}>{{ item.title|wptexturize }}</a>
		<ul class="a-submenu__list">
			{% for subitem in item.children %}
				<li class="a-submenu__item">
					<a
						class="a-submenu__link {% if subitem.current or subitem.current_item_ancestor %}a-submenu__link--active{% endif %}"
						href="{{ subitem.link }}" {{ link_props(subitem.link) }}>{{ subitem.title|wptexturize }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
