{{#if url}}
    <a href="{{url}}" class="a-button {{ modifiers_classes }}"{{#if target}} target="{{ target }}"{{/if}}>{{ label }}</a>
{{else}}
    <button type="{{#if type}}{{type}}{{else}}button{{/if}}" class="a-button {{ modifiers_classes }}">{{ label }}</button>
{{/if}}