{{#if link}}
	<a href="{{link}}" class="a-button {{ modifiers_classes }}{{#if class}} {{ class }}{{/if}}"{{#if target}}
		 target="{{ target }}"{{/if}}{{#if js_hook}}
		 data-{{ js_hook }}{{/if}}>{{ label }}</a>
{{else}}
	<button type="{{#if type}}{{type}}{{else}}button{{/if}}"
					class="a-button {{ modifiers_classes }}{{#if class}} {{ class }}{{/if}}"{{#if js_hook}}
					data-{{ js_hook }}{{/if}}>{{ label }}</button>
{{/if}}
