<article class="a-event-link">
	<div class="a-event-link__image" style="background-image: url('{{image-src}}')"></div>
	<h3 class="a-event-link__title">{{title}}</h3>
	<div class="a-event-link__meta">
		<time class="a-event-link__datetime" datetime="{{timestamp}}">{{datetime}}</time>
		<div class="a-event-link__place">{{place}}</div>
	</div>
</article>
