<article class="m-front-event">
	<div class="m-front-event__image" style="background-image: url('{{image-src}}')"></div>
	<h3 class="m-front-event__title">{{title}}</h3>
	<div class="m-front-event__meta">
		<time class="m-front-event__datetime" datetime="{{timestamp}}">{{datetime}}</time>
		<div class="m-front-event__place">{{place}}</div>
	</div>
</article>
