<div class="page">
	{{render '@o-header'}}
	<main class="page__main">
		<article class="page__grid{{#unless shareable}} page__grid--no-sidebar{{/unless}}">
			{{#if header-image}}
				<div class="page__full page__header-image">
					{{> @a-image image-src='/img/Olympia_vors_Volk_d.jpg' alt="Die olympischen Ringe als Fünffränkler" title="Olympia vors Volk"}}
				</div>
			{{/if}}
			<div class="page__content">
				<header class="page__header-wrapper">
					<div class="page__header">
						<div class="page__breadcrumbs">
							{{render '@a-breadcrumbs'}}
						</div>
						<h1>1’000’000 CHF für die olympischen Spiele ohne Einverständnis der Bevölkerung?</h1>
					</div>
				</header>
				<div class="page__box">
					{{render '@m-in-short'}}
				</div>
				<div class="page__quote">
					{{render '@m-quote' }}
				</div>
				<p>Diese Kosten und Risiken belasten die Staatskasse. Es stellt sich die Frage, ob der Öffentlichkeit mit
					einer
					anderen Verwendung dieser knappen Mittel – etwa für Bildung, die Förderung des Breitensports oder die Umwelt
					–
					nicht mehr gedient wäre. Es stellt sich auch die Frage, ob die Bevölkerung bereit ist, die Risiken eines
					solchen internationalen Grossanlasses zu tragen.</p>
				<div class="page__image">
					{{render '@a-image' }}
				</div>
				<p>Diese Kosten und Risiken belasten die Staatskasse. Es stellt sich die Frage, ob der Öffentlichkeit mit
					einer
					anderen Verwendung dieser knappen Mittel – etwa für Bildung, die Förderung des Breitensports oder die Umwelt
					–
					nicht mehr gedient wäre. Es stellt sich auch die Frage, ob die Bevölkerung bereit ist, die Risiken eines
					solchen internationalen Grossanlasses zu tragen.</p>
				<div class="page__share-block">
					{{render '@m-share-block'}}
				</div>
				<p>Diese Kosten und Risiken belasten die Staatskasse. Es stellt sich die Frage, ob der Öffentlichkeit mit
					einer
					anderen Verwendung dieser knappen Mittel – etwa für Bildung, die Förderung des Breitensports oder die Umwelt
					–
					nicht mehr gedient wäre. Es stellt sich auch die Frage, ob die Bevölkerung bereit ist, die Risiken eines
					solchen internationalen Grossanlasses zu tragen.</p>
			</div>
			<div class="page__post-meta-wrapper {{#if header-image}}page__row--2{{else}}page__row--1{{/if}}">
				<aside class="page__post-meta">
					{{render '@a-post-meta'}}
				</aside>
				<div class="page__shareable">
					<aside class="page__share">
						{{render '@m-share' }}
					</aside>
				</div>
			</div>
			<aside class="page__wide page__linked-content{{# if single}} page__content{{/if}}">
				{{# if single}}
					{{render '@o-linked-content--single-block'}}
				{{else}}
					{{render '@o-linked-content'}}
				{{/if}}
			</aside>
		</article>
	</main>
	<div class="page__footer">
		{{render '@o-footer'}}
	</div>
</div>
