{% set event = TribeEvent(post) %}

<div class="m-event-details">
	<div class="m-event-details__time-wrapper">
		<svg role="img" class="m-event-details__icon">
			<title>{{ __('date and duration', constant('THEME_DOMAIN')) }}</title>
			<use xlink:href="#clock"></use>
		</svg>
		<time class="m-event-details__time"
					datetime="{{ event.timestamp }}">{{ event.time_string|l10n_date }}</time>
	</div>
	{% if event.venue %}
		<div class="m-event-details__location-wrapper">
			<svg role="img" class="m-event-details__icon">
				<title>{{ __('place', constant('THEME_DOMAIN')) }}</title>
				<use xlink:href="#location"></use>
			</svg>
			<span
				class="m-event-details__location">{{ event.venue_string }}</span>
		</div>
	{% endif %}
	<div class="m-event-details__link-button">
		{% include 'atoms/a-link-button.twig' with {
			'link': fn('tribe_get_single_ical_link'),
			'label': __('Save to calendar', constant('THEME_DOMAIN')) ~ ' (ics)'
		} only %}
	</div>
</div>
