<div class="m-event-details">
	<div class="m-event-details__time-wrapper">
		<svg role="img" class="m-event-details__icon">
			<title>{{ __('date and duration', constant('THEME_DOMAIN')) }}</title>
			<use xlink:href="#clock"></use>
		</svg>
		<time class="m-event-details__time"
					datetime="{{ event|event_timestamp }}">{{ event|event_time }}</time>
	</div>
	{% if venue %}
		<div class="m-event-details__location-wrapper">
			<svg role="img" class="m-event-details__icon">
				<title>{{ __('place', constant('THEME_DOMAIN')) }}</title>
				<use xlink:href="#location"></use>
			</svg>
			<span
				class="m-event-details__location">{{ venue.title }}{% if venue._VenueAddress %}, {{ venue._VenueAddress }}{% endif %}{% if venue._VenueCity %}, {{ venue._VenueCity }}{% endif %}</span>
		</div>
	{% endif %}
	<div class="m-event-details__link-button">
		{% include 'atoms/a-link-button.twig' with {
			'link': fn('tribe_get_single_ical_link'),
			'label': __('Save to calendar', constant('THEME_DOMAIN')) ~ ' (ics)'
		} only %}
	</div>
</div>
