{% set id = 'menu'|uniqueid %}
<div class="m-menu{% if distraction_free %} m-menu--force-mobile{% endif %}">
	{% if menu.logo.image.id %}
		{# use site_url() since timber with polylang messes up site.url on some multisite installations #}
		<a class="m-menu__logo" href="{{ fn('site_url') }}" title="{{ __('Home', constant('THEME_DOMAIN')) }}">
			{% include 'atoms/a-logo.twig' with {'logo': menu.logo} only %}
		</a>
	{% endif %}
	<nav class="m-menu__nav{% if not (menu.cta or menu.language) %} m-menu__nav--no-menu-right{% endif %}">
		<div class="m-menu__hamburger">
			{% include 'atoms/a-hamburger.twig' with {'id': id} only %}
		</div>
		<ul class="m-menu__nav-list" role="menubar" id="{{ id }}"
				aria-label="{{ __('Main navigation', constant('THEME_DOMAIN')) }}">
			{% for item in menu.main.items %}
				<li class="m-menu__nav-item" role="none">
					<a
						class="m-menu__nav-link m-menu__nav-link--js-hook m-menu__nav-link--{{ item.id }}{% if item.children %} m-menu__nav-link--parent{% endif %}{% if item.current or item.current_item_ancestor %} m-menu__nav-link--active{% endif %}"
						href="{{ item.link }}" role="menuitem" {% if loop.first %}tabindex="0" accesskey="1"{% endif %}
						{% if item.children %}aria-haspopup="menu" aria-expanded="false"{% endif %}
						{{ link_props(item.link) }}>{{ item.title }}</a>
					{% if item.children %}
						{% include 'molecules/m-menu--submenu.twig' with {children: item.children} only %}
					{% endif %}
				</li>
			{% endfor %}
			{% if menu.search %}
				<li class="m-menu__nav-item" role="none">
					{% include 'atoms/a-search.twig' with {'modifiers':['a-search--covering']} %}
				</li>
			{% endif %}
		</ul>
	</nav>
	{% if menu.cta or menu.language %}
		<div class="m-menu__right">
			<div class="m-menu__cta">
				{% for item in menu.cta.items %}
				{% set class = "m-menu__nav-link--js-hook m-menu__nav-link--#{item.id}" %}
				{% if item.children %}
					{% set class = class ~ ' m-menu__nav-link--parent' %}
				{% endif %}
				<div class="m-menu__nav-item">
					{% include 'atoms/a-button.twig' with {
						'link': item.link,
						'label': item.title,
						'class': class,
						'modifiers': ['a-button--outline', 'a-button--secondary']
					} only %}
					{% if item.children %}
						{% include 'molecules/m-menu--submenu.twig' with {
							children: item.children,
							submenu_class: 'm-menu__submenu--cta',
						} only %}
					{% endif %}
				</div>
			</div>
			{% endfor %}
			{% if menu.language %}
				<div class="m-menu__language-nav">
					<ul class="m-menu__language-nav-list" role="menubar"
							aria-label="{{ __('Language navigation', constant('THEME_DOMAIN')) }}">
						{% for language in menu.language.items %}
							<li class="m-menu__language-nav-item">
								<a class="m-menu__language-nav-link {% if item.current %}m-menu__language-nav-link--active{% endif %}"
									 href="{{ language.url }}">{{ language.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	{% endif %}
</div>
