<div class="m-share">
	<button class="m-share__mobile" aria-label="{{ __('Show share buttons', constant('THEME_DOMAIN')) }}">
		<svg role="img">
			<title>{{ __('Share', constant('THEME_DOMAIN')) }}</title>
			<use xlink:href="#mobile"></use>
		</svg>
	</button>
	<button class="m-share__close" aria-label="{{ __('Hide share buttons', constant('THEME_DOMAIN')) }}">
		<svg role="img">
			<title>{{ __('Close', constant('THEME_DOMAIN')) }}</title>
			<use xlink:href="#close"></use>
		</svg>
	</button>
	<div class="m-share__buttons">
		<div class="m-share__icon">
			{% include 'atoms/a-social-icon.twig' with {
				'type': 'link',
				'title': __('Copy link to this page', constant('THEME_DOMAIN')),
				'link': url
			} only %}
		</div>
		<div class="m-share__icon">
			{% include 'atoms/a-social-icon.twig' with {
				'type': 'twitter',
				'modifier': 'no-outline',
				'title': __('Share this page on twitter', constant('THEME_DOMAIN')),
				'link': 'https://twitter.com/intent/tweet?url=' ~ (url|url_encode) ~ '&text=' ~ (text|url_encode) ~ '&via=' ~ (via|url_encode)
			} only %}
		</div>
		<div class="m-share__icon">
			{% include 'atoms/a-social-icon.twig' with {
				'type': 'facebook',
				'modifier': 'no-outline',
				'title': __('Share this page on facebook', constant('THEME_DOMAIN')),
				'link': 'https://www.facebook.com/sharer.php?u=' ~ (url|url_encode)
			} only %}
		</div>
		<div class="m-share__icon">
			{% include 'atoms/a-social-icon.twig' with {
				'type': 'mail',
				'modifier': 'no-outline',
				'title': __('Share this page by email', constant('THEME_DOMAIN')),
				'link': 'mailto:?body=' ~ text ~ ' ' ~ url
			} only %}
		</div>
		<div class="m-share__icon">
			{% include 'atoms/a-social-icon.twig' with {
				'type': 'whatsapp',
				'modifier': 'no-outline',
				'title': __('Share this page by WhatsApp', constant('THEME_DOMAIN')),
				'link': 'https://wa.me/?text=' ~ (text~' '~url|url_encode)
			} only %}
		</div>
	</div>
	<div class="m-share__desc">{{ __('Share', constant('THEME_DOMAIN')) }}</div>
</div>
