<div class="m-share">
    <button class="m-share__mobile" aria-label="{{ __('Show share buttons', constant('THEME_DOMAIN')) }}">
        <svg role="img">
            <title>{{ __('Share', constant('THEME_DOMAIN')) }}</title>
            <use xlink:href="#mobile"></use>
        </svg>
    </button>
    <button class="m-share__close" aria-label="{{ __('Hide share buttons', constant('THEME_DOMAIN')) }}">
        <svg role="img">
            <title>{{ __('Close', constant('THEME_DOMAIN')) }}</title>
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="m-share__buttons">
        <div class="m-share__icon">
            {% include 'atoms/a-social-icon.twig' with {
                'type': 'twitter--no-outline',
                'link': 'https://twitter.com/intent/tweet?url=' ~ (url|url_encode) ~ '&text=' ~ (text|url_encode) ~ '&via=' ~ (via|url_encode)
            } only %}
        </div>
        <div class="m-share__icon">
            {% include 'atoms/a-social-icon.twig' with {
                'type': 'facebook--no-outline',
                'link': 'https://www.facebook.com/sharer.php?u=' ~ (url|url_encode)
            } only %}
        </div>
        <div class="m-share__icon">
            {% include 'atoms/a-social-icon.twig' with {
                'type': 'mail--no-outline',
                'link': 'mailto:?body=' ~ text ~ ' ' ~ url
            } only %}
        </div>
        <div class="m-share__icon">
            {% include 'atoms/a-social-icon.twig' with {
                'type': 'whatsapp--no-outline',
                'link': 'whatsapp://send?abid=BROADCAST_ID&text=' ~ (text~' '~url|url_encode)
            } only %}
        </div>
    </div>
    <div class="m-share__desc">{{ __('Share', constant('THEME_DOMAIN')) }}</div>
</div>
